<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Copy to Runner.entitlements after App ID has Push + HealthKit + Associated Domains. -->
<plist version="1.0">
<dict>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array/>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:bevel.is</string>
		<string>applinks:bevel.2x4m.cc</string>
		<string>applinks:bevel.2x4m.lvh.me</string>
		<string>applinks:bevel.lvh.me</string>
	</array>
</dict>
</plist>
